/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC */

* {
  font-family: Montserrat;
  color: white;
}

body {
  background-color: #2B2733;
  margin: 0px;
}

h1 {
  margin: 10px;
}

h2 {
  margin-left: 30px;
}

.hidden {
  display: none;
}

.header {
  background-color: #46424D;
  text-align: center;
  padding: 15px 0px;
}

.error-message {
  margin: 10px;
  color: #EFB7EC;
}

.main-content {
  display: flex;
}

.new-activity {
  width: 66%;
}

.user-display > * {
  background-color: #46424D;
  margin: 30px;
  padding: 40px;
}

.category-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
}

.icon {
  width: 32px;
  height: 32px;
  padding-top: 5px;
}

.danger-icon {
  width: 25px;
  margin-right: 5px;
}

.user-goal {
  margin-bottom: 30px;
}

.user-time {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 30px;
}

.start-activity {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: white;
  background: #46424D;
  width: 100%;
}

.input-error {
  border-color: #EFB7EC;
}

.input-line {
  width: 220px;
}

.start-activity-button {
  color: #2B2733;
  border-radius: 5px;
  padding: 5px 15px;
}

.past-activity {
  border-left: 3px solid #46424D;
}

.button-label {
  width: 150px;
  border-style: solid;
  border-color: white;
  display: inline-block;
  padding: 5px 0px;
  margin: 0.5em;
  border-radius: 5px;
  background: transparent;
  user-select: none;
  color: white;
  font-size: 25px;
}

#study-button:checked + .button-label {
  border-color: #B3FD78;
  color: #B3FD78;
}

#meditate-button:checked + .button-label {
  border-color: #C278FD;
  color: #C278FD;
}

#exercise-button:checked + .button-label {
  border-color: #FD8078;
  color: #FD8078;
}
.start-button {
  background: transparent;
  text-align: center;
  border-radius: 50%;
  border-color: white;
  border-width: 3px;
  width: 230px;
  height: 230px;
  border-style: solid;
  outline: none;
  font-size: 22px;
}
